body, #metric, #metric2, #DotMatrixChart{
  font-family: 'Lato', sans-serif;
  color: #333333;
  padding:10px 100px 0 150px;
  font-size: 16px;
}

.source {
  font-size: 12px;
  color: #666666;
  padding-left: 10px;
}

.xAxis, .yAxis, .legend{
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}

.xAxis path {
  display:none;
}

.yAxis path {
  stroke-width:1px;
}
